.App {
  margin: 20px;
}

.App div.pattern-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.App div img {
  width: 100%;
}

form {
  margin-bottom: 20px;
}

@media only screen and (min-width: 680px) {
  .App div.pattern-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .App {
    margin: 50px auto;
    max-width: 560px;
  }
}

@media only screen and (min-width: 768px) {
  .App {
    margin: 50px auto;
    max-width: 760px;
  }
}
